<h1>User Control Panel</h1>


<% if current_user %>

	<h2>User Information:</h2>
	<%= current_user.email %>
	<%= current_user.id %>
	<% @jobs.each do |job|  %>
		<div>
			<h3>Job Number: <%= job.id %></h3> 
			<%= job.destination %>
			<%= job.origin %>
			<%= job.cost %>
			<%= job.description %>
			<%= job.containers %>
		</div>
	<% end %>

	<br>

	<a href=<%= '/users/edit' %>>Edit Your Profile</a>
	<a href=<%= '/jobs/show' %>> Create New Jobs</a>

<% end %>

<% if !current_user %>

	<p>YOu're not logged in </p>

<% end %>



