<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>


	<h2>Job Information:</h2>
			<div>
				<h3>Job Number: <%= @job.id %></h3> 
				<%= @job.destination %>
				<%= @job.origin %>
				<%= @job.cost %>
				<%= @job.description %>
				<%= @job.containers %>
			</div>


	<% @boats.each do |boat| %>
		<div>
			<h3>Boats</h3>
			<%= boat.name %>
			<%= boat.location %>
			<%= boat.containers %>
			<%= form_tag '/jobs/add_to_job' do %>
				<%= hidden_field_tag :boat_id, boat.id %>
				<%= submit_tag ("Add To Job ") %>
			<% end %> 
		</div>

	<% end %>



		<% current_user.job.boats.each do |boat| %>
		<h3>Boat Name:</h><%= boat.name %>
		<br>
	<% end %>







