<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>


	<h2>Job Information:</h2>
			<div>
				<h3>Job Number: <%= @job.id %></h3> 
				<%= @job.destination %>
				<%= @job.origin %>
				<%= @job.cost %>
				<%= @job.description %>
				<%= @job.containers %>
			</div>






