<h2>Westeros Shipping Fleet</h2>

<!-- Displays all boats -->
<div class="row">
	<% @boats.each do |boat| %>
		<div class="col-sm-4">
			<p>Boat Name: <%= boat.name %></p>
			<p>Boat Location: <%= boat.location %></p>
			<p>Available Container Spaces: <%= boat.containers %></p>
			<div><%= image_tag boat.avatar.url %></div>
			<p><a href="/boats/<%= boat.id %>/edit">Edit this boat</a></p>
		</div>



<% @boats.each do |boat| %>

<p>
	<%= boat.name %>:
	<% if boat.available %>
		<span class="available">Available</span>
	<%= link_to "Assign to Job", make_available_path(boat), {remote: true, class: "assign-btn"} %>	
	<% else %>
		<span class="unavailable">Unavailable</span>
		<%= link_to "Make Available", make_available_path(boat), {remote: true, class: "make-available-btn"} %>
		<%= link_to "Assign to Job", make_available_path(boat), {remote: true, class: "assign-btn hidden-btn"} %>


	<p>
		<%= boat.name %>
		<%= image_tag boat.avatar.url %>
		</p>
	<% end %>
</p>
<%end%>


	<% end %>
</div>

