<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>This is changed</h1>

  <ul>
	<li><a href='/'>Home</a></li>
  	<li><a href=<%= '/users/sign_up'%>>Sign Up</a></li>
  	<li><a href=<%= '/users/sign_in' %>>Sign In</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
