<!DOCTYPE html>
<html>
  <head>
    <title>ShippingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid main-container">
        <div class="nav nav-bar main-nav">
          <div class="nav-brand">
            <a class="navbar-brand">Westeros Shipping</a>
          </div>
        

        <ul class="nav navbar-nav navbar-right navigation">

          <% if current_user %>
          	<li><a href='/'>Home</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <li><a href=<%= '/profiles/show' %>>Your Profile</a></li>

          <% end %>

            <% if !current_user %>
              <li><a href='/'>Home</a></li>
            	<li><a href=<%= '/users/sign_up'%>>Sign Up</a></li>
            	<li><a href=<%= '/users/sign_in' %>>Sign In</a></li>
          </ul>



        <% end %>

        </div>
    </div>

    </div>




      <%= yield %>






    </body>
</html>
